@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: clamp(0.8rem, 5vw, 1.5rem);
  background: #fff;
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 100vw;
  padding: 0 3rem;
  margin: 0 auto;
  overflow: auto;
}

.api-wrapper {
  width: Min(100%, 150rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20rem;
}

.api__title h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 4rem;
}

.api__main {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 20px 20px;
      grid-template-areas: "left-item right-item";
  width: 100%;
}

.api__main .left-item {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left-item;
}

.api__main .left-item .api-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.api__main .left-item .api-form .api__field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}

.api__main .left-item .api-form .api__field input {
  background-color: #ebebeb;
  border: none;
  outline-color: #f3f1f2;
  border-radius: 0.5rem;
  padding: 1.3rem 2rem;
}

.api__main .left-item .api-form .api__field input:focus {
  outline: 1px solid #bec3c9;
}

.api__main .left-item .api-form .api__field label {
  font-size: 1.6rem;
  font-weight: 500;
}

.api__main .right-item {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right-item;
}

.api__main .right-item .key-manager {
  padding: 2rem;
}

.api__main .right-item .api__content {
  background-color: #f3f1f2;
  border-radius: 1rem;
  padding: 2rem;
}

.api__main .right-item .api__content .table__header tr {
  background-color: #bec3c9;
  padding: 2rem;
}

.api__main .right-item .api__content .table__header tr:first-of-type:hover {
  background-color: #bec3c9;
}

.api__main .right-item .api__content .api-table {
  width: 100%;
  border-collapse: collapse;
}

.api__main .right-item .api__content .api-table tr {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.api__main .right-item .api__content .api-table tr:hover {
  background-color: #f8f8f8;
}

.api__main .right-item .api__content .api-table th {
  font-size: clamp(0.3rem, 7vw, 1.2rem);
  padding: 1rem;
}

.api__main .right-item .api__content .api-table th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.api__main .right-item .api__content .api-table th:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.api__main .right-item .api__content .api-table td {
  font-size: clamp(0.4rem, 5vw, 1.2rem);
  text-align: center;
  padding: 1rem;
}

.api__main .right-item .api__content .api-table td:first-of-type {
  font-weight: 600;
}

.left-item .button {
  width: 100%;
}

.left-item .submit__btn {
  width: 100%;
  background-color: #d25400;
  color: #fff;
  border: none;
  border-radius: 1rem;
  outline-color: #b94a00;
  padding: 1rem 2rem;
  margin: 1rem 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.left-item .submit__btn:hover {
  opacity: 0.9;
}

.row__btns .item__btn {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.row__btns .item__btn:hover {
  opacity: 0.9;
}

.row__btns .item__edit {
  background-color: #1b6fab;
  outline-color: #186195;
  border: none;
}

.row__btns .item__delete {
  background-color: #d25400;
  border: none;
  outline-color: #b94a00;
  margin-right: 1rem;
}

@media (max-width: 996px) {
  .api__main {
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "left-item" "right-item";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 640px) {
  .delete-btn {
    margin: 1rem;
  }
}
