@media (max-width: 996px) {
  .api__main {
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "left-item"
      "right-item";
    align-items: center;
  }
}

@media (max-width: 640px) {
  .delete-btn {
    margin: 1rem;
  }
}
