@import "./config";
@import "./utilities";

// .wrapper {
//   width: Min(100%, 150rem);
// }

.api-wrapper {
  width: Min(100%, 150rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}

.api__title h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 4rem;
}

.api__main {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 20px 20px;
  grid-template-areas: "left-item right-item";
  width: 100%;

  .left-item {
    grid-area: left-item;
    // width: 100%;
    // width: Min(100%, 80%);

    .api-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .api__field {
        width: 100%;
        display: flex;
        flex-direction: column;
        // align-self: flex-end;
        // justify-self: flex-end;
        gap: 0.5rem;
        margin: 1rem 0;

        input {
          // width: 50rem;
          // width: 100%;
          background-color: $light-gray-color1;
          border: none;
          outline-color: $light-gray-color2;
          border-radius: 0.5rem;
          padding: 1.3rem 2rem;
        }

        input:focus {
          outline: 1px solid $dark-gray;
        }

        label {
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
    }
  }

  .right-item {
    grid-area: right-item;
    // width: 100%;

    .key-manager {
      padding: 2rem;
    }

    .api__content {
      background-color: $light-gray-color2;
      border-radius: 1rem;
      padding: 2rem;

      .api-table {
        width: 100%;
        border-collapse: collapse;

        tr:first-child {
          background-color: $dark-gray;
          padding: 2rem;
          // font-size: 1.35rem;
          // font-size: clamp(0.3rem, 5vw, 1.2rem);
        }

        // tr {
        //   transition: all 0.2s ease;
        // }

        // tr:hover {
        //   background-color: lighten($light-gray-color1, 5%);
        // }

        tr:first-child:hover {
          background-color: $dark-gray;
        }

        th {
          font-size: clamp(0.3rem, 7vw, 1.2rem);
          padding: 1rem;
        }

        th:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        th:last-child {
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
        }

        td {
          // font-size: 1.2rem;
          font-size: clamp(0.4rem, 5vw, 1.2rem);
          text-align: center;
          padding: 1rem;
          // font-weight: 500;
        }

        td:first-of-type {
          font-weight: 600;
        }
      }
    }
  }
}

@import "./buttons";
@import "./mobile";
